%nav{'aria-label': "breadcrumb"}
  %ol.breadcrumb
    - if controller.action_name== 'index'
      %li.breadcrumb-item.active
        = User.model_name.human
    - else
      %li.breadcrumb-item
        = link_to User.model_name.human, people_path
    - unless controller.action_name== 'index'
      %li.breadcrumb-item.active{'aria-current':"page"}
        = @user.name
        (
        = page_name
        )
